:root {
    --color-primary: #019160;
    --color-primary-active: #01B075;
    --color-primary-hover: #2FBE8E;
    --color-primary-focus: #EBF9F4;
    --color-secondary: #E5E5E5;
    --color-secondary-hover: #E9EBEE;
    --color-content-text: #454545;
    --color-alert: #F65464;
    --color-alert-hover: #f5263a;
    --color-info: #2971cf;
    --color-warning: #eac926;
    --color-hightlight: #BBB;
    --color-white: #FFFFFF;
    --color-black: #000000;
}
