/* Default Icon */
.icon-default{
    width: 16px;
    height: 16px;
    background-position: center;
    background-repeat: no-repeat;
}

/* Icon Option */
.-option{
    margin: 0 16px;
    background-image: url('../../../content/icon/option.png');
}

/* Icon Add */
.-add{
    background-image: url('../../../content/icon/add.png');
    
}

/* Icon Search */
.-search{
    background-image: url('../../../content/icon/magnifying-glass.png');
}

/* Icon Reload */
.-reload{
    background-image: url('../../../content/icon/refresh.png');
    
}