/* Content Footer */
.content__footer {
	width: 100%;
	height: 48px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
	/* Paginate */
	.content__footer .pagination {
		width: 20%;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
		/* Button paginate */
		.content__footer .pagination .pagination__button {
			cursor: pointer;
		}

		.content__footer .pagination .pagination__number {
			width: 32px;
			height: 32px;
			border-radius: 50%;
			background-color: var(--color-secondary);
			display: flex;
			align-items: center;
			justify-content: space-evenly;
			cursor: pointer;
			transition: 0.2s all ease-in-out;
		}

		.content__footer .pagination .pagination__number:hover {
			background-color: var(--color-secondary-hover);
		}

		.active {
			background-color: var(--color-primary) !important;
			color: var(--color-white) !important;
		}

		@media screen and (max-width: 1280px) {
			.content__footer .pagination {
				width: 40%;
			}
		}