.p-t-10 {
    padding-top: 10px;
}

.p-t-12 {
    padding-top: 12px;
}

.p-t-13 {
    padding-top: 13px;
}


.p-l-30 {
    margin-left: 30px;
}

.p-r-30 {
    padding-right: 30px;
}

.p-r-10 {
    padding-right: 10px;
}

.m-l-30 {
    margin-left: 30px;
}

.m-l-50 {
    margin-left: 50px;
}

.m-l-90 {
    margin-left: 90px;
}